{{template "partials/header" .}}
<div id="IndexTopBox" class="">
  {{template "partials/search".}}
</div>

<div id="main" class="wbox">
  <br>
  <div class="msh flex jcontent-between aitems-center">
    <h1>تازه‌ترین آگهی‌های شغلی برای شما</h1>
    <a href="/search/" class="text-small text-bold">مشاهده همه ></a>
  </div>

  <div hx-get="/hx/index-search" hx-trigger="load" hx-target="this" hx-swap="innerHTML">
  </div>
  
  <br>

  <div class="flex jcontent-between">
    <h1>آخرین نوشتار ها در بلاک کاراب</h1>
    <a href="/blog" class="text-small text-bold">مشاهده همه نوشتار ها ></a>
  </div>

  <div class="bposts flex jcontent-between aitems-center mid-gap">
    <div>
      <img src="https://picsum.photos/360/360?grayscale&blur=2" alt="">
      <h2 class="text-center text-small">بهترین مسیر های شغلی ۱۴۰۲</h2>
    </div>
    <div>
      <img src="https://picsum.photos/360/360?grayscale&blur=2" alt="">
      <h2 class="text-center text-small">نمودار پردرامد ترین مشاغل امسال</h2>
    </div>
    <div>
      <img src="https://picsum.photos/360/360?grayscale&blur=2" alt="">
      <h2 class="text-center text-small">از همین امروز رزومه نویسی رو شروع کن</h2>
    </div>
    <div>
      <img src="https://picsum.photos/360/360?grayscale&blur=2" alt="">
      <h2 class="text-center text-small">نمودار پردرامد ترین مشاغل امسال</h2>
    </div>
  </div>
</div>

{{template "partials/footer" .}}